<header>
    <a href="/">EasyPark</a>
    <a class="debug black" href="/profile">Личный кабинет</a>
    <a class="debug" href="/debug/user-info">JSON Пользователя</a>
    <a class="debug" href="/admin">Панель администратора</a>
    <a class="debug" href="/logout">Очистка токена</a>
    <a class="debug" href="/debug/history">БД Парковок</a>
    <a class="debug" href="/pay">Страница оплаты</a>
</header>