<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>

    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/auth.css">

    <script src="./js/core.js" defer></script>
    <script src="./js/welcome.js" defer></script>
</head>
<body>
    <%- include('./elements/header.ejs') -%>

    <main>

        <p class="action-label">Регистрация</p>

        <form action="/auth/register" method="post">
            <input type="text" name="firstName" id="first-name" placeholder="Имя" required>
            <input type="text" name="lastName" id="last-name" placeholder="Фамилия" required>
            <input type="text" name="login" id="login" placeholder="Логин" required>
            <input type="password" name="password" id="password" placeholder="Пароль" required>
            <button class="goto main only-style">Регистрация</button>
        </form>
        <p class="subaction already-has">У вас уже есть аккаунт? <a class="register" href="/login">Войдите!</a></p>
        <p class="subaction">Регистрируясь на сайте, вы соглашаетесь с <a class="user-agreement">Пользовательским соглашением</a></p>
    </main>

    <%- include('./elements/footer.ejs') -%>
</body>
</html>