<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добро пожаловать!</title>

    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/welcome.css">

    <script src="./js/core.js" defer></script>
    <script src="./js/welcome.js" defer></script>
</head>
<body>
    <%- include('./elements/header.ejs') -%>

    <main>
        <p class="welcome-text">
            Добро пожаловать в <span>EasyPark</span> - Вашего персонального ассистента по бронированию парковочных мест!
            <p class="subtext">Здесь мы представляем вам инновационную систему, созданную для упрощения процесса поиска и резервирования парковочных мест. Наша миссия - сделать вашу жизнь более комфортной и избавить от забот, связанных с поиском свободных мест для вашего автомобиля.</p>
        </p>

        <div class="welcome-actions">
            <a class="goto main" href="/login">Перейти в личный кабинет</a>
            <p class="subaction">
                <a class="information-btn">Подробнее</a>
            </p>
        </div>

    </main>

    <%- include('./elements/footer.ejs') -%>
</body>
</html>