main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}
.action-label {
    font-size: 48px;
    text-align: center;
    font-weight: bold;
    color: orange;
    width: 70%;
    margin-bottom: 100px;
}
.subaction {
    text-align: center;
    font-size: 12px;
    user-select: none;
    opacity: .75;
}
.subaction > a {
    cursor: pointer;
    text-decoration: underline;
}
.already-has {
    margin-bottom: 20px;
}
.error-message {
    color: red;
    margin-bottom: 10px;
}